@model IEnumerable<Ban_Di_Dong.Areas.Admin.Models.ProductAdminVM>
@{
    ViewData["Title"] = "DanhMucSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>DANH MỤC SẢN PHẨM</h1>

<a asp-action="ThemSanPhamMoi" class="btn btn-primary">Thêm sản phẩm</a>
<hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                MÃ SP
            </th>
            <th>
                TÊN SP
            </th>
            <th>
                LOẠI SP
            </th>
            <th>BẢO HÀNH</th>
            <th>SL TỒN</th>
            <th>GIÁ</th>
            <th>ẢNH</th>
            <th>CÔNG CỤ</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.productId</td>
                <td>@item.productName</td>
                <td>@item.cateName</td>
                <td>@item.warranty tháng</td>
                <td>@item.stockQuantity cái</td>
                <td>@string.Format("{0:#,0}", item.price) VNĐ</td>
                <td><img style="width : 180px;height : 100px; margin : auto" src="~/‌Hinh/Product/@item.productImage" /></td>
                <td>
                    <a asp-action="ThemLoaiSanPhamMoi" class="btn btn-primary">Chỉnh Sửa</a>
                    <a asp-action="ThemLoaiSanPhamMoi" class="btn btn-primary">Xoá</a>

                </td>
            </tr>
        }

    </tbody>
</table>

