@model IEnumerable<Ban_Di_Dong.ViewModels.ProductVM>

@foreach (var item in Model)
{
    <div class="col-md-6 col-lg-6 col-xl-4">
        <div class="rounded position-relative fruite-item">
            <div class="fruite-img">
                <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.productId">
                    <img src="~/‌Hinh/Product/@item.productImage" class="img-fluid w-100 rounded-top" alt="@item.productName">
                </a>
            </div>
            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@item.cateName</div>
            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.productId">
                    <h4>@item.productName</h4>
                </a>
                <p>@item.description</p>
                <div class="d-flex justify-content-between flex-lg-wrap">
                    <p class="text-dark fs-5 fw-bold mb-0">@item.price Đ</p>
                    <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.productId" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                </div>
            </div>
        </div>
    </div>
}
